<div class="login">
    <div class="row">
        <div class="col-md-6">
            <div class="login_form">
                <div class="login_form-logo">

                </div>

                <div class="login_form-title"></div>
                <div class="login_form-subtitle"></div>

                <form action="">

                </form>
            </div>
        </div>
        <div class="col-6">
            <div class="login_banner">
                <img src="/assets/banners/login-banner-3.png" alt="">
            </div>
        </div>
    </div>
</div>