<div class="login">
    <div class="row">
        <div class="col-md-8 col-lg-6 col-12">
            <div class="login_form">
                <div class="login_form-logo">
                    <img src="/assets/images/lounge.png" alt="logo">
                    iChair Web Store
                </div>

                <div class="login_form-form">
                    <h1 class="login_form-title">Welcome back!</h1>
                    <h6 class="login_form-subtitle">Login now to see incredible products!</h6>
    
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" formControlName="password">
                                </div>

                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Continue</button>
                                </div>

                                <a class="btn btn-link" routerLink="../signup">Create an account</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-6 d-none d-lg-flex">
            <div class="login_banner">
                <img src="/assets/images/banners/banner-2.jpg" alt="">
            </div>
        </div>
    </div>
</div>