<div class="navbar">
    <div class="navbar_menu">
        <div class="navbar_menu-left">
            <div class="navbar_menu-links">
                <ul>
                    <li class="selected">Store</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
        <div class="navbar_menu-center">
            <div class="navbar_menu-logo">
                <img src="/assets/images/lounge.png">
            </div>
        </div>
        <div class="navbar_menu-right">
            <div class="navbar_menu-icon">
                <div class="icon-link" (click)="openProfile()">
                    <img src="/assets/images/icons/account-black.svg">
                    <div *ngIf="(currentUser$ | async) as currentUser">{{ currentUser.name }} {{ currentUser.lastname[0]}}.</div>
                </div>
                <div class="icon-link"><img src="/assets/images/icons/cart-black.svg"></div>
            </div>
        </div>
    </div>
</div>