.catalog {
    min-height: 100vh;
    &_banner {
        padding: 0 20px;
    }

    &_filters {
        display: flex;
        margin-top: 30px;
        padding: 0 20px;

        &-search {
            width: 300px;
            height: 45px;
        }
    }

    &_list {
        width: 100%;
        padding: 20px;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
}