<div class="catalog">
    <div class="catalog_banner">
        <app-banner title="Decorative highend Chairs for office and home"
            subtitle="Solid corduroy chusion covers that bring charm and modernity to your space."
            imagePath="/assets/images/banners/banner-3.png">
        </app-banner>
    </div>
    
    <div class="catalog_filters">
        <div class="catalog_filters-search">
            <app-input-search placeholder="search a product..." (onChange)="filterProducts($event)"></app-input-search>
        </div>
    </div>
    
    <div class="catalog_list">
        <ng-container *ngFor="let product of filteredProducts">
            <app-product-card [product]="product"></app-product-card>
        </ng-container>
    </div>
</div>